<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
	<head>
		<meta charset="UTF-8"/>
		<title>This is home page</title>
	</head>
	<body>
		<section class="banner d-flex justify-content-center ">
		
				<div class="text-center"><br><br>
					<h1>What is TaskApp?</h1>
					
					<p><h5>It's a tool to help you plan, organize, and manage your tasks, from start to finish. 
					You can get access to all your tasks with ease.</h5></p>
					<p><h5>Plus, get a complete view of tasks so you can tackle the right tasks at the right time.
					 This application allows you to add, view, modify and even delete the tasks.</h5></p>
					<p><h5>All your information is secured as we respect your privacy.
					Security to your profile is given so that no third person can access through your data.</h5> </p>
					 </p><br>
					 
					 <h1> Why do you need it?</h1>
					<p> <h5>Managing tasks is hard work. Even harder if you don't use tools to make it easy.</h5></p>
					 <p><h5>It's easy to lose track of all the moving pieces—and tough to stay up to date. 
					 That’s when things fall through the cracks.</h5> </p>
					<p><h5>Use TaskApp application to organize tasks and meet deadlines.</h5></p>
				</div>
		</section>
</body>
</html>