<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
	<head>
		<meta charset="UTF-8"/>
		<title>This is signup page</title>
	</head>
	
	<body>
	
			<section class="banner1 d-flex justify-content-center align-items-center">
					<div class="container">
							<div class="row">
									<div class="col-md-6 offset-md-3">
						
										<div class="my-card">
						
											<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert-primary" role="alert">
			 									 <p class="text-center" th:text="${session.message.content}"></p>
												  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
											</div>
											
											<div class="container text-center" >
												<img class=""style="width:80px;" src="" th:src="@{/img/notes.png}"/>
											</div>
												<h2 class="text-center">Register Here!</h2>
												<br>
							
												<form movalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">
							
			  										<div class="form-group">
			   											 <label for="username"><b>Username</b></label>
			    
			    										<input name="name" type="text" class="form-control" placeholder="Enter username" 
											    		th:classappend="${#fields.hasErrors('name')? 'is-invalid':''}" 
											    		required th:value="${user.name}"/>
											   			 <br>
											    
											  		</div>
			  
			  
			 										 <div class="form-group">
			 										 
													    <label for="password" ><b>Password</b></label>
													    <input name="password" type="password" class="form-control" 
													    id="exampleInputPassword1" placeholder="Enter Password" required />
													    <br>
			   											 <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
			   											 
			 										 </div>
			 
			 										 <div class="form-group form-check">
														  <input type="checkbox"
														  name="agreement"
														  class="form-check-input"
														  id="agreement"/>
														  <label for="agreement">Accept terms and conditions</label>
													</div></br>
			  
													  <div class="container text-center">
													 		 <button type="submit" class="btn btn-primary">Submit</button>
													  </div>
			
													
											</form>
									
										</div>
								</div>
							</div>
					</div>
				
		</section>

	</body>
</html>